* {
  box-sizing: border-box;
}

*:before {
  box-sizing: inherit;
}

*:after {
  box-sizing: inherit;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 100%;
  text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: #fff;
  font-size: 16px;
  margin: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:focus,
button:focus {
  outline: 0.125rem dashed #ffd4ff;
}

.container {
  height: 100%;
  margin: 0 auto;
  max-width: 50rem;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

p {
  font-size: 1.1rem;
}
